*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    font-family: "Oswald", sans-serif;
}
:root{
    --primary-color-: #70587C;
    --second-color-: #502F4C;
    --third-color-: #C8B8DB;
    --four-color-: #F9F4F5;
    --five-color-: #000000;
    --six-color-: #C9C9C9;
    --spacements-: 0.5rem 1rem;
}

/* header*/

header{
    width: 100%;
    height:30vh;
    -webkit-box-shadow: 0px 9px 19px -2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 9px 19px -2px rgba(0,0,0,0.13);
    box-shadow: 0px 9px 19px -2px rgba(0,0,0,0.13);
    background: white;
}
.mobile{
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.mobile button {
    border: none;
    background: none;
    font-size: 1.5rem;
    color:  #718EBF;
}
.mobile span{
    color:  #718EBF;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 10px;
}
.profile{
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-image: url('../assets/profile1.jpeg');
    background-position: center;
    background-size: cover;
}

.overlay{
    display: none;
    position: fixed;
    line-height: 2rem;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color:#000000de;
    color: var(--four-color-);
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
}

.overlay button i{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: white;
}

.overlay ul li  {
    padding: 0 1rem;
    list-style: none;
    
}
.overlay-content a{
    text-decoration: none;
}
.overlay-content i{
    color:#ffffff;
    transition: 0.3s ease-in-out;
}
.overlay-content{
    display: flex;
    padding: 2.5rem 0;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.overlay-content i:hover, .overlay-content i:focus{
    color:#718EBF;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
.search-bar{
    display: flex;
    justify-content: center;
}
.search-bar button{
    display: flex;
    align-items: center;
    
    padding: var(--spacements-);
    font-size: 1rem;

    height: 40px;
    width: 300px;
    border: none;
    background-color: var(--four-color-);
    color: var(--primary-color-);
    border-radius: 30px;
}
.search-bar input[type=text]{
    width: 100%;
    height: 2rem;
   border: none;
   background-color: var(--four-color-);
   color: var(--five-color-);
   padding: 0 1rem;
   box-shadow: 0 0 0 0;
   border: 0 none;
   outline: 0;
}

/*main*/
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.text{

    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.cards-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}
.cards{
    width: 270px;
    height: 170px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;

    border-radius: 1rem;

    color: white;
    background-color: #718EBF;
    line-height: 1.7rem;
    transition: 0.3s ease-in-out;

    background: rgb(42,83,108);
    background: linear-gradient(126deg, rgba(42,83,108,1) 27%, rgba(42,41,79,1) 72%);
}
.cards:hover{
    -webkit-box-shadow: 3px 21px 24px -11px rgba(0,0,0,0.54);
    -moz-box-shadow: 3px 21px 24px -11px rgba(0,0,0,0.54);
    box-shadow: 3px 21px 24px -11px rgba(0,0,0,0.54);
}
.cards button{
    background: none;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 15px;
}
.cards i{
    color: white;
    font-size: 2rem;
}
.group-1 h3 {
    font-weight: 200;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.group-2{
    font-size: 0.9rem;
    font-weight: 200;
    color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
}

.group-3{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 8rem;
}

.group-4{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 3rem;
}

.group-4 i{
    color: #ccc;
    font-size: 1.5rem;
}
.group-4{
    font-weight: 200;
}

.withdraw{
    width: 300px;
    height: 207px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
}
.withdraw-content{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.withdraw-content a i{
    color: #718EBF;
    background-color: #ccc;
    padding: 0.5rem;
    border-radius: 100%;
}

.withdraw-content ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    list-style-type: none;
}

.withdraw-content li i{
    color: #70587C;
    background: #000000;
    padding: 0.5rem;
    border-radius: 50%;
}
.info li{
    text-transform: uppercase;
}
.info li span{
    text-transform: none;
    color: #a7a7a7;
}
.value{
    color: red;
}
.value span{
    color: green;
}
.statistics-container {
    width: 100%;
    height: 70% ;
}
.chart {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1rem 0.5rem;
    border-radius: 20px;
}
.bar {
    width: 50px;
    background-color: steelblue;
    position: relative;
    border: 1px solid #ccc;
}
.bar span {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.labels {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.quick-content{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.quick-content button{
    height: 35px;
    /* width: 16%; */
    border: none;
    background: #ffffff;

    -webkit-box-shadow: -2px 3px 17px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 3px 17px -8px rgba(0,0,0,0.3);
    box-shadow: -2px 3px 17px -8px rgba(0,0,0,0.3);

    padding: 10px;
    border-radius: 50%;
}
.quick-content i{
    color: #718EBF;
}
.profile-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

.img{
    background-image: url('../assets/transition-profile.jpg');
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.info-profile{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.info-profile span{
    font-size: 1rem;
}
.info-profile p{
    color: #718EBF;
}
.send-value{
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.send-value-content{
    gap: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
.send-value-content button input{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.send-value-content span{
    display: flex;
    gap: 5px;
}
@media screen and (min-width: 768px) {
    .mobile{
        display: none;
    }
}